body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 50px;
    color: #333; /* Dark gray text */
}

form {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
}

input[type="text"],
input[type="password"],
button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 5px;
}

button {
    background-color: #008080; /* Teal color */
    color: #fff; /* White text */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #005757; /* Darker teal color on hover */
}

p {
    text-align: center;
}

a {
    color: #008080; /* Teal color for links */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
